{{>common_header}}
package {{packageName}}_test

import (
    "bytes"
	"context"
	"net/http"
	"os"

	"github.com/hyperledger-labs/signare/app/pkg/commons/logger"
)

func init() {
    levelDebug := logger.LevelDebug
    logger.RegisterLogger(logger.Options{
		Level:     &levelDebug,
		LogOutput: &bytes.Buffer{},
	})
}

var _ httpinfra.HttpResponseHandler = (*testResponseHandler)(nil)

type testResponseHandler struct {
	StatusCodeSuccess int
	StatusCodeError   int
}

// HandleErrorResponse tests implementation
func (t testResponseHandler) HandleErrorResponse(ctx context.Context, w http.ResponseWriter, receivedError *httpinfra.HTTPError) {
	w.Header().Set("Content-Type", "application/json")
	w.WriteHeader(t.StatusCodeError)
	w.Write([]byte(receivedError.Error()))
}

// HandleSuccessResponse tests implementation
func (t testResponseHandler) HandleSuccessResponse(ctx context.Context, w http.ResponseWriter, responseInfo httpinfra.ResponseInfo, responseData interface{}) {
	w.Header().Set("Content-Type", "application/json")
	w.WriteHeader(t.StatusCodeSuccess)
}
